html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display: none;
}

section{
    height: 100vh;
}

#portfolio{
    
    background-image: url('{% static 'assets/images/pres4.jpg' %}' );
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

.custom-col{
    margin-top: 25%;
}

i{
    color: black; 
    border: 1px solid black;
    border-radius: 50px;
    padding: 3px;
}

.btn{
    border: 1px solid black;
    background: black;
    color: white;
}

.btn:hover{
    background: rgb(61, 60, 60);
    
}

img{
    filter: grayscale(3);
    width: 100%;
}

.img-hero{
    height: 100%;
}


.spacing{
    width: 100%;
    margin-top: 7%;
    height: 100%;
    padding: 10px;
}

.second-col{
    margin-top: 10%;
}